p ______________________________________________________
p This menu is intended for development and demonstration purposes. It lists all the resources accessible through GET requests.
a(href="/") /
br
a(href="/matches") /matches
br
a(href="/matches/add") /matches/add
br
a(href="/register") /register
br
a(href="/logout") /logout